@font-face {
    font-family: Amsterdam;
    src: url("Amsterdam Variation_3.otf") format("opentype");
    color:#f0efeb;
}

@font-face {
    font-family: Hatton;
    src: url("Hatton-Medium.otf") format("opentype");
    color:#f0efeb;
}

body {
    background-color:#DDD3CA;
  }

h1{
    font-family: Amsterdam;
    font-size: x-large;
    color:sienna;
}

h2{
    font-family: Hatton;
    color:#9B694D;
}

.square {
  height: 50px;
  width: 50px;
  background-color: #555;
}


