@font-face {
    font-family: Amsterdam;
    src: url("Amsterdam Variation_3.otf") format("opentype");
    color:#f0efeb;
}

body {
    background-color:#DDD3CA;
  }

h1{
    font-family: Amsterdam;
    color:#9B694D;
}

h2{
    font-family: Amsterdam;
    color:#f0efeb;
}